@tailwind base;
@tailwind components;
@tailwind utilities;



/* Apply Monrope font globally */
body {
  font-family: 'Manrope', sans-serif;
  background: "#FCF8F4";


  select {
    appearance: none; /* Removes default browser styling */
    -webkit-appearance: none; /* For Safari */
    -moz-appearance: none; /* For Firefox */
    background-color: #fff; 
    cursor: pointer; 
}

select::-ms-expand {
    display: none; /* Removes default dropdown arrow in IE/Edge */
}
}

/* You can apply Poppins font wherever needed */
.font-poppins {
  font-family: 'Poppins', sans-serif;
}

:where(.css-dev-only-do-not-override-1v613y0).ant-upload-wrapper.ant-upload-picture-card-wrapper .ant-upload.ant-upload-select, :where(.css-dev-only-do-not-override-1v613y0).ant-upload-wrapper.ant-upload-picture-circle-wrapper .ant-upload.ant-upload-select {
  width: 100%;
  height: 102px;
  text-align: center;
  vertical-align: top;
  background-color: rgba(0, 0, 0, 0.02);
  border: 1px dashed #d9d9d9;
  border-radius: 8px;
  cursor: pointer;
  transition: border-color 0.3s;
}
