@tailwind base;
@tailwind components;
@tailwind utilities;



/* Apply Monrope font globally */
body {
  font-family: 'Manrope', sans-serif;
  background: "#FCF8F4";


  select {
    appearance: none; /* Removes default browser styling */
    -webkit-appearance: none; /* For Safari */
    -moz-appearance: none; /* For Firefox */
    background-color: #fff; 
    cursor: pointer; 
}

select::-ms-expand {
    display: none; /* Removes default dropdown arrow in IE/Edge */
}
}

/* You can apply Poppins font wherever needed */
.font-poppins {
  font-family: 'Poppins', sans-serif;
}

